<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dat16C</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styling.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Template source: https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4 th:text="${user}">Dat16C</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="qa">Q and A</a></li>
                <li><a href="resources">Resources</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="fun">Fun</a></li>
            </ul><br/>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Site" />
                <span class="input-group-btn">
          <button onclick="location.href='searchpage'" class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>

        <div class="col-sm-9">
            <h4><small>Example headline</small></h4>
            <hr/>
            <h2>Why Coding?</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by Jon Eikholm, Oct 4, 2017.</h5>
            <h5><span class="label label-danger">Ignorance</span> <span class="label label-primary">Programming</span></h5><br/>
            <p>The sheer joy of making things. Programming is fundamentally about creating solutions to problems. At the end of the day, you have created something that didn’t exist that morning, and that is in and of itself satisfying.</p>
            <br/><br/>

        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>

</body>
</html>
